
.banner {
    background-color: #69cd6c; /* Green */
    color: white;
    text-align: center;
    padding: 20px 0;
}
.his{
    margin-left: 10%;
}

.banner h1 {
    margin-top: 3%;
    font-size: 24px;
    margin: 0;
}
.change{
    color: #23b928;
}

.loginHistory {
    overflow-y: scroll;
    margin-top: 40%;
    margin: 20px auto;
    width: 700px;
    max-height:600px;
}

table {
    margin-top: 3%;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#chartContainer{
    width: 50%;
    margin-top: 10%;
    margin-left: 30%;
    height:300px;
}
