.banner1{
    background-color: #69cd6c; /* Green */
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 83%;
    
}


form {
   margin-top: -50%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


.ta {
    margin-top: 20%;
    margin-left: 40%;
    max-width: 800px; /* Set the maximum width for the table container */
    margin: 0 auto; /* Center the table horizontally */
}
table {
    
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
  
  .stock-table input[type="text"] {
    width: 80px;
    padding: 5px;
  }
  
  .stock-table .update-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .stock-table .update-btn:hover {
    background-color: #45a049;
  }
  .formcon{
    margin-top: 10%;
  }
  